.DS_Store
# Nuxt build
.nuxt
.build
dist
.cache

# Nuxt generate
.generated

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# nyc test coverage
.nyc_output


# dependencies
node_modules/
jspm_pacakges/

# Optional npm cache directory
.npm

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# All intellij settings
.idea/

# User-specific stuff:
 .idea/**/workspace.xml
 .idea/**/tasks.xml
 .idea/dictionaries

# Sensitive or high-churn files:
 .idea/**/dataSources/
 .idea/**/dataSources.ids
 .idea/**/dataSources.xml
 .idea/**/dataSources.local.xml
 .idea/**/sqlDataSources.xml
 .idea/**/dynamic.xml
 .idea/**/uiDesigner.xml

# Gradle:
 .idea/**/gradle.xml
 .idea/**/libraries

# Mongo Explorer plugin:
 .idea/**/mongoSettings.xml

## File-based project format:
*.iws
#.idea/*
# IntelliJ
/out/

# logs
npm-debug.log
